<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimCityPak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SimCityPak.Properties.Settings>
      <setting name="LocaleFile" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultFile" serializeAs="String">
        <value />
      </setting>
      <setting name="RegistryFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PropImagesExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPropertyIds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPropertyInternalNames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SimCityFolder" serializeAs="String">
        <value />
      </setting>
    </SimCityPak.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
</configuration>
